# Panda

In [188]:
#pip install pandas

Defaulting to user installation because normal site-packages is not writeableNote: you may need to restart the kernel to use updated packages.

Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in c:\programdata\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [1]:
import pandas as pd

  students  Scores
0     John      80
1     Paul      40
2    James      60
3     Rita      90

In [4]:
#series
y= [2,3,4,5]
x=pd.Series(y)
print(x)

0    2
1    3
2    4
3    5
dtype: int64

In [8]:
# label
y= [2,3,4,5]
x=pd.Series(y, index=['a','b','c','d'])
print(x['c'])

4

In [11]:
# label
y= {'a':2,'b':3,'c':4,'d':5}
x=pd.Series(y)
print(x['c'])
z=pd.Series(y,index=['a','b'])
print(z)

4
a    2
b    3
dtype: int64

In [12]:
#dataframe

data={
    'students':['John','Paul','James','Rita'],
    'Scores':[80,40,60,90]
}
x=pd.DataFrame(data)
print(x)

  students  Scores
0     John      80
1     Paul      40
2    James      60
3     Rita      90

In [14]:
print(x.loc[1])
print(x.loc[[2,3]])

students    Paul
Scores        40
Name: 1, dtype: object
  students  Scores
2    James      60
3     Rita      90

In [15]:
import pandas as pd

a = [3,4,6,7,9]
b = [1,3,6,3,4]
a_series = pd.Series(a)
b_series = pd.Series(b)
pd.concat([a_series,b_series])

0    3
1    4
2    6
3    7
4    9
0    1
1    3
2    6
3    3
4    4
dtype: int64

In [16]:
import pandas as pd

a = [3,4,6,7,9]
b = [1,3,6,3,4]
a_series = pd.Series(a)
b_series = pd.Series(b)
pd.concat([a_series,b_series], keys = ['First', 'Second'])

First   0    3
        1    4
        2    6
        3    7
        4    9
Second  0    1
        1    3
        2    6
        3    3
        4    4
dtype: int64

In [17]:
import pandas as pd

a = [3,4,6,7,9]
b = [1,3,6,3,4]
a_series = pd.Series(a)
b_series = pd.Series(b)
pd.concat([a_series,b_series], keys = ['First', 'Second'], names=['group, index'])
# keys for each dataframe and index can be any word but it define index of column

group, index
First         0    3
              1    4
              2    6
              3    7
              4    9
Second        0    1
              1    3
              2    6
              3    3
              4    4
dtype: int64

In [18]:
import pandas as pd

a = [[3,4,6],[1,2,3]]
b = [[1,3,6],[4,7,8]]
a_df = pd.DataFrame(a)
b_df = pd.DataFrame(b)
df = pd.concat([a_df, b_df])
df

   0  1  2
0  3  4  6
1  1  2  3
0  1  3  6
1  4  7  8

In [19]:
import pandas as pd

a = [3,4,6,9]
b = [['pen',2,4], ['rer',8,9]]
a_df = pd.DataFrame(a)
b_df = pd.DataFrame(b, columns=['letters', 'numbers', 'numbers2'])
pd.concat([a_df,b_df])

     0 letters  numbers  numbers2
0  3.0     NaN      NaN       NaN
1  4.0     NaN      NaN       NaN
2  6.0     NaN      NaN       NaN
3  9.0     NaN      NaN       NaN
0  NaN     pen      2.0       4.0
1  NaN     rer      8.0       9.0

In [21]:
import pandas as pd

a = [[3,4,6], [1,2,3]]
b = [[1,3,6],[4,7,8]]
a_df = pd.DataFrame(a, columns=['n', 'o', 'p'])
b_df = pd.DataFrame(b, columns=['n', 'o', 'p'])
pd.concat([a_df, b_df], axis =1) 
pd.concat([a_df, b_df], axis =0)

   n  o  p
0  3  4  6
1  1  2  3
0  1  3  6
1  4  7  8

In [22]:
import pandas as pd
df_1 = pd.DataFrame({
    'Name':['Peter','Ahmed','James','Kate'],
    'Salary':[22000,35000,77000,25000]
})

df_2 = pd.DataFrame({
    'Name':['Peter','Ahmed','James','Kate'],
    'Department':['Sales','Admin','IT','HR']
})
df_3 = pd.merge(df_1, df_2, on='Name')
df_3

    Name  Salary Department
0  Peter   22000      Sales
1  Ahmed   35000      Admin
2  James   77000         IT
3   Kate   25000         HR

In [27]:
import pandas as pd

df_1 = pd.DataFrame({
    'Name':['Peter','Ahmed','James','Kate'],
    'Salary':[22000,35000,77000,25000]
})
df_2 = pd.DataFrame({
    'Name':['Peter','Ahmed','Kate'],
    'Department':['Sales','Admin','HR']
})
df_3 = pd.merge(df_1, df_2, on='Name') # inner join
df_3
df_6 = pd.merge(df_1,df_2,on='Name', how='inner') # same as above # intersect
df_6
df_7 = pd.merge(df_1,df_2,on='Name', how='outer') #union
df_7
df_8 = pd.merge(df_1,df_2,on='Name', how='left') #all from left
df_8
df_9 = pd.merge(df_1,df_2,on='Name', how='right') #all from right
df_9

    Name  Salary Department
0  Peter   22000      Sales
1  Ahmed   35000      Admin
2   Kate   25000         HR

In [30]:
import pandas as pd

df_1 = pd.DataFrame({
    'Name':['Peter','Ahmed','James','Kate'],
    'Salary':[22000,35000,77000,25000],
    'Department':['Sales','Admin','IT','HR'],
    'Education':['Bsc','Bsc','MSc','MA']
})
df_2 = pd.DataFrame({
    'Name':['Peter','Ahmed','James','Kate'],
    'Department':['Sales','Admin','IT','HR'],
    'Education':['Bsc','Bsc','MSc','MA']
})

df_3 = pd.merge(df_1,df_2,on='Name')
df_3 = pd.merge(df_1,df_2,on='Name', suffixes=('_first', '_second'))
df_3

,Name,Salary,Department_first,Education_first,Department_second,Education_second
0,Peter,22000,Sales,Bsc,Sales,Bsc
1,Ahmed,35000,Admin,Bsc,Admin,Bsc
2,James,77000,IT,MSc,IT,MSc
3,Kate,25000,HR,MA,HR,MA

In [56]:
df=pd.read_csv('DataForDatascience/world-happiness-report.csv')
#print(df.to_string())
print(df.head())
#print(df.tail())
#print(df.info()) # information about dataframe
#print(df.describe()) # statistics
#print(df.describe(percentiles=[.2,.6,.8])) # statistics

  Country name  year  Life Ladder  Log GDP per capita  Social support  \
0  Afghanistan  2008        3.724               7.370           0.451
1  Afghanistan  2009        4.402               7.540           0.552
2  Afghanistan  2010        4.758               7.647           0.539
3  Afghanistan  2011        3.832               7.620           0.521
4  Afghanistan  2012        3.783               7.705           0.521

   Healthy life expectancy at birth  Freedom to make life choices  Generosity  \
0                             50.80                         0.718       0.168
1                             51.20                         0.679       0.190
2                             51.60                         0.600       0.121
3                             51.92                         0.496       0.162
4                             52.24                         0.531       0.236

   Perceptions of corruption  Positive affect  Negative affect
0                      0.882            0.518            0.258
1                      0.850            0.584            0.237
2                      0.707            0.618            0.275
3                      0.731            0.611            0.267
4                      0.776            0.710            0.268

In [51]:
df['Freedom to make life choices'].min() # min max of specific colum
df['Freedom to make life choices'].max()

country=['Singapore']

d_filter=df[df['Country name'].isin(country)] # get only singapore data
d_filter

d_filter['Freedom to make life choices'].min() # min max of specific colum
d_filter['Freedom to make life choices'].max()

df['Perceptions of corruption'].mean()
df['Perceptions of corruption'].median()
df['Perceptions of corruption'].mode()

df['Generosity'].sum()
df['Generosity'].sum(skipna=True) # same as above

df.mean(axis=1)
df.mean(axis=0)

C:\Users\ankur\AppData\Local\Temp\ipykernel_13772\2690680807.py:19: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.mean(axis=1)
C:\Users\ankur\AppData\Local\Temp\ipykernel_13772\2690680807.py:20: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.mean(axis=0)

year                                2013.216008
Life Ladder                            5.466705
Log GDP per capita                     9.368453
Social support                         0.812552
Healthy life expectancy at birth      63.359374
Freedom to make life choices           0.742558
Generosity                             0.000103
Perceptions of corruption              0.747125
Positive affect                        0.710003
Negative affect                        0.268544
dtype: float64

In [53]:
df.count()

Country name                        1949
year                                1949
Life Ladder                         1949
Log GDP per capita                  1913
Social support                      1936
Healthy life expectancy at birth    1894
Freedom to make life choices        1917
Generosity                          1860
Perceptions of corruption           1839
Positive affect                     1927
Negative affect                     1933
dtype: int64

In [54]:
df.count(axis=1)

0       11
1       11
2       11
3       11
4       11
        ..
1944    11
1945    11
1946    11
1947    11
1948    11
Length: 1949, dtype: int64

In [55]:
# Json file

#pd.read_json()

In [57]:
file2 = pd.read_csv('world-happiness-report.csv', header=1)#Skip Rows Reading CSV File 


file2 = pd.read_csv('world-happiness-report.csv', skiprows=[2,3,4,6])
file2 = pd.read_csv('world-happiness-report.csv', skiprows=[0])
file2 = pd.read_csv('world-happiness-report.csv', skiprows=4)
file2 = pd.read_csv('world-happiness-report.csv', header = None)

file2 = pd.read_csv('world-happiness-report.csv', header = None, prefix='header_')


file = pd.read_csv('world-happiness-report.csv', usecols=['year', 'Generosity'])

file = pd.read_csv('world-happiness-report.csv', usecols=[3, 6, 0, 2])

file = pd.read_csv('world-happiness-report.csv', nrows=19)
file = pd.read_csv('world-happiness-report.csv', usecols=[0,1,3],nrows=6)


file = pd.read_csv('world-happiness-report.csv', verbose=True)

file = pd.read_csv('world-happiness-report.csv', dtype={'year':'float64'})

file.dtypes


file = pd.read_csv('world-happiness-report.csv')

file.info()

country = file['Country name']

country.head()

country.tail()



x = file[['Country name', 'year', 'Generosity']]

x.head()

x.tail()


data = pd.read_csv('world-happiness-report.csv')



data

data.shape

data.shape[0]

data.shape[1]

import pandas as pd

data = pd.read_csv('world-happiness-report.csv')

data.tail(n=10)

FileNotFoundError: [Errno 2] No such file or directory: 'world-happiness-report.csv'

In [ ]:
loc vs iloc

Head vs iloc vs loc
data.head(n=11)

data.loc[:10]

data.iloc[:11]

tail vs
data.tail(n=1)

data.loc[1948:1948]
data.iloc[1948]
data.iloc[-1:]



columns

data.iloc[:,[0,1,7]]

data.loc[:,['Country name', 'year', 'Generosity']]

Without Using Tail or iLoc Get Last Row - Code
data.loc[data.shape[0]-1]


data.iloc[:, range(2,7)]

 Another Selection Trick - Code
column_N  =  data.shape[1]

Index_last  =  column_N - 1

data.iloc[:,Index_last:]


x=list(range(0,11,2))



data.iloc[:,x]

Even Columns Without Using Range - Code
data.iloc[:, ::2]

Pandas - Specific Row - Code
data.iloc[1944]['Social support']

data.loc[1944,'Social support']

data.iloc[1944,4]

Pandas - Column - Code
data['year']

Filtering Greater Than - Code
data[data['year']>2018]

Pandas - Filtering Greater Than with Fewer Rows - Code
data[data['year']>2018][:9]


 nlargest - Code
data.nlargest(10, 'Generosity')
Pandas - nsmallest - Code
data.nsmallest(10,'Social support')

Pandas - Sort_Values Ascending - Code
file.sort_values(by='year', ascending=True)

Sort_Values for Smallest - Code
file.sort_values(by='Generosity', ascending=True)[:5]

 Selecting a range of values - Code
data.query('0.025< Generosity <0.028')


Return Random Rows - Code
data.sample(n=8)

data.sample(frac=0.02)

Pandas - Reset Index - Code
x = data.query('0.025<Generosity<0.028')

new_data = x.reset_index()

new_data

 - Greater than 0.1 - Code
data[data.Generosity>0.1]